.mention-input textarea {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  height: 100%;
  bottom: 0px;
  overflow: hidden;
  resize: none;
  color: inherit;
  min-height: 32px;
  outline: none;
  border-radius: 6px 6px 0px;
  border: none;
}
.mention-input textarea:focus {
  outline: none;
}

